{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<div align="center">
    <img src="/graph.png" style="height:80%;">
</div>
<div align="center">

<form method="POST" action="" class="form-inline">
    <div class="form-group">
        <label class="control-label" align="center">Enter numeric value:</label>
    </div>
	{{ form.hidden_tag() }}
	{% for field in form %}
        <div class="form-group" id="DataEntry">
		    {{ render_field(field) }}
        </div>
	{% endfor %}
    <div class="form-group">
	    <button type="submit" class="btn btn-default btn-sm" id="insert_parameter">Add to graph</button>
    </div>
</form>
{% endblock %}
</div>